{
  "printWidth": 120,
  "arrowParens": "always",
  "bracketSpacing": true,
  "cursorOffset": -1,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "crlf",
  "htmlWhitespaceSensitivity": "strict",
  "insertPragma": false,
  "bracketSameLine": true,
  "jsxSingleQuote": false,
  "parser": "typescript",
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": true
}
