@tailwind base;
@tailwind components;
@tailwind utilities;

.center-content {
  @apply flex flex-col justify-center items-center h-screen py-40;
}

.btn-form {
  @apply py-2 mt-4 sm:mt-4 xsm:mt-2 text-white bg-black w-72;
}

.btn{
  @apply bg-black text-white py-1 px-2 cursor-pointer; 
}

.navbar{
  @apply bg-white z-10 shadow-md flex justify-between h-16 items-center;
}


.view-roadmap {
  @apply w-10 h-10 p-1 rotate-12 bg-gray-200 rounded;
}

.view-roadmap-hover {
  @apply w-10 h-10 p-1 hover:rotate-12 hover:bg-gray-200 rounded;
}

.content-sidebar {
  @apply flex justify-center items-center left-60 right-0 mx-5 top-20 flex-col absolute;
}

html,body{
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

/* css for gantt chart */

/* header of table */
._9w8d5{
  font-size: 12px !important;
  fill: white !important;
}

._WuQ0f{
  font-size: 12px !important;
}
._3_ygE{
  background-color: black;
  color: white;
}
._35nLX{
  fill: black !important;
}
._2eZzQ{
  border-right: none !important;
}
._1rLuZ{
  stroke: black !important;
}
._9w8d5,._WuQ0f{
  text-transform: uppercase;
  font-weight: 500;
}
/* phase half background */
._2RbVy {
  opacity:1 !important;
}

._2q1Kt{
  fill: white !important;
}
/* css for gantt chart */

.rotate{
  transform: rotate(90deg);
}

.hover-list:hover{
  background-color: hsla(0, 0%, 93%, 0.13);
}

.border-bottom-style {
  padding-bottom: 5px;
  position: relative;
}

.border-bottom-style::after {
  position: absolute;
  border-radius: 5px;
  height: 8px;
  content: '';
  bottom: 0;
  right: 0;
  left: 30px;
  background: linear-gradient(to left, rgb(19, 9, 9), rgba(34, 7, 7, 0.24) );
}

.border-bottom-style h1,.border-bottom-style Link {
  background: transparent;
  display: block;
  outline: none;
  border: none;
  width: 100%;
}

.point1 { left: 733px; top: 93px;}
.point2 { left: 598px; top: 165px; }
.point3 { left: 497px; top: 294px; }
.point4 { left: 369px; top: 161px; }
.point5 { left: 294px; top: 220px; }
.point6 { left: 152px; top: 221px; }
.point7 { left: 52px; top: 361px; }
